body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
}

.title {
  position: fixed;
  top: 50vh;
  width: 100%;
  text-align: center;
  font-size: 8vw;
  color: white;
  text-shadow: 0 0 30px #ff88ff;
  z-index: 10;
  pointer-events: none;
}

.gallery {
  padding-top: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30vh;
  align-items: center;
}

.gallery img {
  width: 60vw;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  display: block;
}
